bin/ 
obj/ 
.vs/ 
Debug/ 
Release/ 
*.user 
*.suo 
TestResults/ 
packages/ 
BeautySalonApp1/ 
aaa/ 
pis1/ 
BeautySalonApp1.rar 
ConsoleApp1/ 
ConsoleApp2/ 
HairdresserSystem1/ 
NewRepo/ 
WindowsFormsApp1/ 
app2/ 
bd3/ 
bit/ 
databases3/ 
pis1.1/ 
pis1.2/ 
pis_practika2/ 
pis_practika_3/ 
test/ 
test0/ 
"пис/" 
bin/ 
obj/ 
.vs/ 
packages/ 
Debug/ 
Release/ 
